USE [master]
GO
/****** Object:  Database [System_B]    Script Date: 26/06/2020 01:14:54 ******/
CREATE DATABASE [System_B]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'System_B', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\System_B.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'System_B_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\System_B_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [System_B].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [System_B]
GO
USE [System_B]
GO
/****** Object:  Table [dbo].[AGENT]    Script Date: 26/06/2020 01:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENT](
	[id_agent] [int] IDENTITY(1,1) NOT NULL,
	[id_Person_agent] [int] NOT NULL,
	[hiredate] [date] NOT NULL,
	[job] [int] NOT NULL,
	[id_police_station] [int] NOT NULL,
	[job_phone_number] [varchar](25) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_agent] PRIMARY KEY CLUSTERED 
(
	[id_agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARRESTED]    Script Date: 26/06/2020 01:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARRESTED](
	[id_arrested] [int] IDENTITY(1,1) NOT NULL,
	[id_Person_arrested] [int] NOT NULL,
	[date_of_capture] [date] NOT NULL,
	[id_crime] [int] NOT NULL,
	[description] [nvarchar](100) NULL,
	[id_police_station] [int] NOT NULL,
	[id_agent] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_arrested] PRIMARY KEY CLUSTERED 
(
	[id_arrested] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 26/06/2020 01:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[id_contact] [int] IDENTITY(1,1) NOT NULL,
	[id_person_contact] [int] NOT NULL,
	[type_of_relationship] [nvarchar](70) NOT NULL,
	[id__agent_contact] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[id_contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRIME]    Script Date: 26/06/2020 01:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRIME](
	[id_crime] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[crime_type] [nvarchar](70) NOT NULL,
	[fine] [float] NOT NULL,
	[days_of_conviction] [float] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_crime] PRIMARY KEY CLUSTERED 
(
	[id_crime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 26/06/2020 01:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[id_departament] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_departament] PRIMARY KEY CLUSTERED 
(
	[id_departament] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILY]    Script Date: 26/06/2020 01:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILY](
	[id_family] [int] IDENTITY(1,1) NOT NULL,
	[id_Person] [int] NOT NULL,
	[relationship_type] [nvarchar](70) NOT NULL,
	[id_arrested] [int] NOT NULL,
	[status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 26/06/2020 01:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[id_person] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[dpi] [nvarchar](30) NULL,
	[Birthday] [date] NULL,
	[id_department] [int] NOT NULL,
	[direccion] [nvarchar](100) NULL,
	[notele] [varchar](25) NULL,
	[gender] [varchar](1) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[id_person] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICE_STATION]    Script Date: 26/06/2020 01:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICE_STATION](
	[id_police_station] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](70) NOT NULL,
	[direction] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_police_station] PRIMARY KEY CLUSTERED 
(
	[id_police_station] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENT]  WITH CHECK ADD  CONSTRAINT [FK_agent_person] FOREIGN KEY([id_Person_agent])
REFERENCES [dbo].[PERSON] ([id_person])
GO
ALTER TABLE [dbo].[AGENT] CHECK CONSTRAINT [FK_agent_person]
GO
ALTER TABLE [dbo].[AGENT]  WITH CHECK ADD  CONSTRAINT [FK_agent_police_station] FOREIGN KEY([id_police_station])
REFERENCES [dbo].[POLICE_STATION] ([id_police_station])
GO
ALTER TABLE [dbo].[AGENT] CHECK CONSTRAINT [FK_agent_police_station]
GO
ALTER TABLE [dbo].[ARRESTED]  WITH CHECK ADD  CONSTRAINT [FK_arrested_agent] FOREIGN KEY([id_agent])
REFERENCES [dbo].[AGENT] ([id_agent])
GO
ALTER TABLE [dbo].[ARRESTED] CHECK CONSTRAINT [FK_arrested_agent]
GO
ALTER TABLE [dbo].[ARRESTED]  WITH CHECK ADD  CONSTRAINT [FK_arrested_crime] FOREIGN KEY([id_crime])
REFERENCES [dbo].[CRIME] ([id_crime])
GO
ALTER TABLE [dbo].[ARRESTED] CHECK CONSTRAINT [FK_arrested_crime]
GO
ALTER TABLE [dbo].[ARRESTED]  WITH CHECK ADD  CONSTRAINT [FK_arrested_person] FOREIGN KEY([id_Person_arrested])
REFERENCES [dbo].[PERSON] ([id_person])
GO
ALTER TABLE [dbo].[ARRESTED] CHECK CONSTRAINT [FK_arrested_person]
GO
ALTER TABLE [dbo].[ARRESTED]  WITH CHECK ADD  CONSTRAINT [FK_arrested_police_station] FOREIGN KEY([id_police_station])
REFERENCES [dbo].[POLICE_STATION] ([id_police_station])
GO
ALTER TABLE [dbo].[ARRESTED] CHECK CONSTRAINT [FK_arrested_police_station]
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_contact_person] FOREIGN KEY([id_person_contact])
REFERENCES [dbo].[PERSON] ([id_person])
GO
ALTER TABLE [dbo].[CONTACT] CHECK CONSTRAINT [FK_contact_person]
GO
ALTER TABLE [dbo].[FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_family_arrested] FOREIGN KEY([id_arrested])
REFERENCES [dbo].[ARRESTED] ([id_arrested])
GO
ALTER TABLE [dbo].[FAMILY] CHECK CONSTRAINT [FK_family_arrested]
GO
ALTER TABLE [dbo].[FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_family_person] FOREIGN KEY([id_Person])
REFERENCES [dbo].[PERSON] ([id_person])
GO
ALTER TABLE [dbo].[FAMILY] CHECK CONSTRAINT [FK_family_person]
GO
USE [master]
GO
